  
  
  
  <nav class="navbar navbar-expand-lg  navbar-dark  shadow-sm p-3 mb-5  " style="background-color: #2c56b8">
    <div class="container-fluid">
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <a class="navbar-brand" [class.active]="router.url === '/admin/home'" aria-current="page" routerLink="../home">
            BT admin
          </a>
          <li class="nav-item">
            <a class="nav-link" [class.active]="router.url === '/admin/product'" routerLink="../product">Nos produits</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [class.active]="router.url === '/admin/products'"  routerLink="../products">Modifier un produit</a>
          </li>
        </ul>
         <ul class="navbar-nav">
          <li>
            <a class="nav-link" (click)="logout()">Logout</a>
          </li>
        </ul>
      </div>
    </div>
  </nav> 
