<app-header></app-header>
<div class="container mt-4">
  <div class="card">
    <div class="card-header" style="color: black;">
      Produits
    </div>
    <div class="card-body" style="color: black;">
      <h5 class="card-title">Gestion de produits</h5>
      <p class="card-text">Selectionnez le produit que vous souhaitez modifier</p>

      <div class="dropdown">
        <mat-form-field appearance="outline">
          <mat-label>Liste des produits</mat-label>
          <mat-select [(value)]="productSelected">
            <mat-option [value]="product" *ngFor="let product of products">
              {{product.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <mat-card *ngIf="productSelected">
        <form [formGroup]="formGroup" (ngSubmit)="onSubmit()">
          <mat-card-header>
            <mat-card-title>{{productSelected.name}}</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <mat-list>
              <mat-list-item>Prix: {{productSelected.price}}€</mat-list-item>
              <mat-divider></mat-divider>

              <mat-list-item>
                <mat-label>Promotion : </mat-label>

                <mat-form-field appearance="legacy">
                  <input type="text" matInput formControlName="promotion">



                </mat-form-field>
                  (Promotion actuelle : {{productSelected.discount}})
              </mat-list-item>
              <mat-divider></mat-divider>
              <mat-list-item>Quantité en stock: {{productSelected.quantity_stock}}</mat-list-item>
            </mat-list>

          </mat-card-content>
          <mat-card-actions>
            <button mat-raised-button color="primary" [disabled]="formGroup.invalid">Modifier</button>
          </mat-card-actions>
        </form>
      </mat-card>

    </div>
  </div>
</div>
<app-footer></app-footer>