<div class="container">
	<div class="form-container sign-in-container">
    <img src="./assets/img/3677529.svg" alt="profile_img" height="140px" width="140px;" style="margin-left: 6%;">
      <form class="" (ngSubmit)="onSubmit()" [formGroup]="loginForm">
        <!--Email-->
        <mat-form-field class="form-label-group col-4" appearance="outline">
          <mat-label>Email</mat-label>
          <input [formControl]="emailFormControl" [errorStateMatcher]="matcher" formControlName="email"
                 matInput placeholder="Adresse e-mail">
          <mat-error *ngIf="controls.email.hasError('email') && !controls.email.hasError('required')">
            Veuillez saisir une adresse email valide
          </mat-error>
          <mat-error *ngIf="controls.email.hasError('required')">
            L'email est <strong>obligatoire</strong>
          </mat-error>
        </mat-form-field>
        <!--Password-->
        <div class="form-label-group">
          <mat-form-field class="form-label-group col-4" appearance="outline">
            <mat-label>Mot de passe</mat-label>
            <input [formControl]="passwordFormControl" [errorStateMatcher]="matcher" formControlName="password" type="password" matInput placeholder="Saisissez votre mot de passe" [type]="hide ? 'password' : 'text'">
            <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
            <mat-error *ngIf="controls.password.hasError('required')">
              Le mot de passe est <strong>obligatoire</strong>
            </mat-error>
          </mat-form-field> 
        </div>
        <small *ngIf="isConnectionError" id="connectionError" class="form-text text-muted"
               style="color: red !important ;">{{connectionError}}</small>
        <div class="">
          <button [disabled]="loading" mat-raised-button color="primary" id="submitButton" class="btn valider">
            <span *ngIf="!loading">Valider</span>
            <span *ngIf="loading"><i class="fa fa-spinner fa-spin" aria-label="true"></i> </span>
          </button>
        </div>
      </form>
	</div>
	<div class="overlay-container">
		<div class="overlay">
			<div class="overlay-panel overlay-left">
			</div>
		</div>
	</div>
</div>
