 <app-header></app-header>
<div class="container">
  <div class="row">
    <div class="col-lg-12 text-center">
       <h1>Bateau Thibault</h1>
    </div>
  </div>
  <div class="row">
    <div class="card text-white bg-primary col-5" style="padding: 30px; margin: 10px;">
      <div class="row g-0">
        <div class="col-md-4">
          <i class="fas fa-8x fa-clipboard-list"></i>
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title">Détail Produit</h5>
            <p class="card-text">Afficher les détails d'un produit</p>
            <button routerLink="../product" mat-raised-button color="primary">Afficher</button>
          </div>
        </div>
      </div>
    </div>
    <div class="card text-white bg-warning col-5" style="padding: 30px; margin: 10px;">
      <div class="row g-0">
        <div class="col-md-4">
          <i class="fas fa-8x fa-cogs"></i>
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title">Gérer les produits</h5>
            <p class="card-text">Gérer tout les produits</p>
            <button mat-raised-button color="primary" routerLink="../products">Gérer</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>