<app-header></app-header>
<div class="container" style="color: white;">
  <div class="row justify-content-center">
    <div id="infosProduct">
      <!--!!!!!!!!!!!!!!!!!!!!!!!!
      !!!!!!!!!!!!!!!!!!!!!!!!!!!!
      !!!!!!!!!!!!!!!!!!!!!!!!!!!!
      mettre en blanc css button
      !!!!!!!!!!!!!!!!!!!!!!!!!!!!
      !!!!!!!!!!!!!!!!!!!!!!!!!!!!
      !!!!!!!!!!!!!!!!!!!!!!!!!!!! -->
      <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist" style="padding-bottom: 50px;  margin-top: 50px;">
        <li class="nav-item" role="presentation">
          <button class="nav-link active" id="pills-home-tab" data-bs-toggle="pill" data-bs-target="#pills-home"
                  type="button" role="tab" aria-controls="pills-home" aria-selected="true">Nos poissons
          </button>
        </li>
        <li class="nav-item" role="presentation">
          <button class="nav-link" id="pills-profile-tab" data-bs-toggle="pill" data-bs-target="#pills-profile"
                  type="button" role="tab" aria-controls="pills-profile" aria-selected="false">Nos fruits de
            mer
          </button>
        </li>
        <li class="nav-item" role="presentation">
          <button class="nav-link" id="pills-contact-tab" data-bs-toggle="pill" data-bs-target="#pills-contact"
                  type="button" role="tab" aria-controls="pills-contact" aria-selected="false">Nos crustacés
          </button>
        </li>
      </ul>
      <div class="tab-content" id="pills-tabContent">
        <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">

          <h3>Nos poissons</h3>
          <table class="table" style="color: white;">            <thead>
            <tr>
              <th>Nom</th>
              <th>Prix</th>
              <th>Promotion</th>
              <th>Quantité</th>
              <th>Vendus</th>
              <th>Commentaires</th>
              <th>Ajout Quantitité</th>
              <th>Ajout Promotion</th>
            </thead>
            <tbody *ngFor="let formGroup of formArrayPoisson.controls; let i = index">
            <tr [formGroup]="formGroup">
              <td>{{productsPoisson[i].name}}</td>
              <td><span style="color: green; ">{{productsPoisson[i].price}}€</span></td>
              <td>{{productsPoisson[i].discount}}</td>
              <td>{{productsPoisson[i].quantity_stock}}</td>
              <td>{{productsPoisson[i].quantity_sold}}</td>
              <td>{{productsPoisson[i].comments}}</td>
              <td>
                <mat-form-field>
                  <input type="number" matInput formControlName="addQuantity"/>
                </mat-form-field>
              </td>
              <td>
                <mat-form-field>
                  <input type="number" matInput formControlName="addPromotion"/>
                </mat-form-field>
              </td>

            </tr>
            </tbody>
          </table>
        </div>
        <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
          <h3>Nos fruits de mer</h3>
          <table class="table" style="color: white;">
            <thead>
            <tr>
              <th>Nom</th>
              <th>Prix</th>
              <th>Promotion</th>
              <th>Quantité</th>
              <th>Vendus</th>
              <th>Commentaires</th>
              <th>Ajout Quantitité</th>
              <th>Ajout Promotion</th>
            </thead>
            <tbody *ngFor="let formGroup of formArrayFruitMer.controls; let i = index">
            <tr [formGroup]="formGroup">
              <td>{{productFruitMer[i].name}}</td>
              <td><span style="color: green; ">{{productFruitMer[i].price}}€</span></td>
              <td>{{productFruitMer[i].discount}}</td>
              <td>{{productFruitMer[i].quantity_stock}}</td>
              <td>{{productFruitMer[i].quantity_sold}}</td>
              <td>{{productFruitMer[i].comments}}</td>
              <td>
                <mat-form-field>
                  <input type="number" matInput formControlName="addQuantity"/>
                </mat-form-field>
              </td>
              <td>
                <mat-form-field>
                  <input type="number" matInput formControlName="addPromotion"/>
                </mat-form-field>
              </td>

            </tr>
            </tbody>
          </table>
        </div>
        <div class="tab-pane fade" id="pills-contact" role="tabpanel" aria-labelledby="pills-contact-tab">
          <h3>Nos crustacés</h3>
          <table class="table" style="color: white;">
            <thead>
            <tr>
              <th>Nom</th>
              <th>Prix</th>
              <th>Promotion</th>
              <th>Quantité</th>
              <th>Vendus</th>
              <th>Commentaires</th>
              <th>Ajout Quantitité</th>
              <th>Ajout Promotion</th>
            </thead>
            <tbody *ngFor="let formGroup of formArrayCrustace.controls; let i = index">
            <tr [formGroup]="formGroup">
              <td>{{productsCrustace[i].name}}</td>
              <td><span style="color: green; ">{{productsCrustace[i].price}}€</span></td>
              <td>{{productsCrustace[i].discount}}</td>
              <td>{{productsCrustace[i].quantity_stock}}</td>
              <td>{{productsCrustace[i].quantity_sold}}</td>
              <td>{{productsCrustace[i].comments}}</td>

              <td>
                <mat-form-field>
                  <input type="number" matInput formControlName="addQuantity"/>
                </mat-form-field>
              </td>
              <td>
                <mat-form-field>
                  <input type="number" matInput formControlName="addPromotion"/>
                </mat-form-field>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>



